<h2>Welcome to your Rails Todo List </h2>
<h4> <a href="<%= new_todo_path %>"> Create new Todo </a>
</h4>
<% @todos.each do |todo| %>
<div>
  Name <%= todo.name  %>
</div>
<div >
  Description: <%= todo.description  %>
</div>
<% end %>
